body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #2C3E50;
  color: #ECF0F1;
}

.register-button {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #3498DB;
  color: #fff;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 20px;
  right: 100px;
  transition: background-color 0.3s ease-in-out;
}

.register-button:hover {
  background-color: #0d68c3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.search-bar {
  margin-bottom: 30px;
  position: relative;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input {
  padding: 15px;
  width: 70%;
  max-width: 500px;
  font-size: 18px;
  margin-top: 15px;
  border: 2px solid #3498DB;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  background-color: #2C3E50;
  color: #ECF0F1;
}

input:focus {
  border-color: #0d68c3;
}

.header {
  position: relative;
  background-color: #3498DB;
  padding: 40px 0;
  animation: fadeIn 1s ease-in-out;
}

.logo-container {
  position: relative;
}

#kalvium-book {
  position: absolute;
  left: 20px;
  top: -8px;
  font-size: 2em;
  color: #ECF0F1;
}

.logo {
  position: absolute;
  height: 60px;
  width: 60px;
  left: 230px;
  top: 13px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeIn 1s ease-in-out;
}

.book-item {
  margin: 15px;
  margin-top: 30px;
  text-align: center;
  border: 2px solid #3498DB;
  border-radius: 15px;
  background-color: #ECF0F1;
  box-shadow: 0 10px 20px rgba(52, 73, 94, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  width: 300px;
  overflow: hidden;
  position: relative;
  background-color: #3498DB;
  animation: fadeIn 1s ease-in-out;
}

.book-item:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 30px rgba(52, 73, 94, 0.3);
}

.img-container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  background-color: #34495E;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(52, 73, 94, 0.5), rgba(52, 73, 94, 0.2));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.book-item:hover .img-overlay {
  opacity: 1;
}

.img-container img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.book-item:hover img {
  transform: scale(1.2);
}

span {
  display: block;
  font-size: 18px;
  padding: 20px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Advanced Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
