body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #2C3E50;
  color: #ECF0F1;
}

.register-button {
  padding: 10px;
  font-size: 16px;
  background-color: #2C3E50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 13px;
  right: 100px;
  transition: background-color 0.3s ease-in-out;
}

.register-button:hover {
  background-color: #0d68c3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.search-bar {
  margin-bottom: 20px;
  position: relative;
}

input {
  padding: 10px;
  width: 70%;
  max-width: 500px;
  font-size: 18px;
  margin-top: 10px;
  border: 1px solid #34495E;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  background-color: #2C3E50;
  color: #ECF0F1;
}

input:focus {
  border-color: #3498DB;
}

.header {
  position: relative;
  background-color: #3498DB;
  padding: 20px 0;
}

.logo-container {
  position: relative;
}

#kalvium-book {
  position: absolute;
  left: 20px;
  top: -5px;
  font-size: 1.8em;
  color: #ECF0F1;
}

.logo {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 200px;
  top: 17px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px;
  margin-top: 30px;
  text-align: center;
  border: 1px solid #34495E;
  border-radius: 8px;
  background-color: #ECF0F1;
  box-shadow: 0 8px 16px rgba(52, 73, 94, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  width: 250px;
  overflow: hidden;
  position: relative;
}

li:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(52, 73, 94, 0.3);
}

img {
  width: 100%;
  height: 300px; 
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

span {
  display: block;
  font-size: 16px;
  padding: 10px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Advanced Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header,
ul {
  animation: fadeIn 1s ease-in-out;
}

/* Customized hover effect */
li:hover img {
  transform: scale(1.1);
}
